[Unit]
Description=uWSGI instance to serve hello-world
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/hello-world/hello-world
Environment="PATH=/home/ubuntu/hello-world/env/bin"
ExecStart=/home/ubuntu/hello-world/env/bin/uwsgi --ini hello-world.ini

[Install]
WantedBy=multi-user.target

